
:root{
    --primary-color:  #FF5400;

}
.sec1-head {
    /* padding-left: 5%;
    padding-right: 10%; */
    background-color: rgb(130, 221, 233);
    display: flex;
    padding-top: 20px;
    padding-bottom: 18px;
    justify-content: space-between;
}

header ul {
    list-style: none;
    display: flex;
    margin-left: 0;
    /* padding-left: 60%; */

}

.left {
    /* padding-right: 60px;
    padding-left: 20px; */
    display: flex;

    /* width: 300px; */
    /* padding-top: 15px; */
    color: #131318;
    font-family: Mulish;
    font-size: 25px;
    font-weight: 800;
    padding-left: 40px;

}

header li {
    padding-right: 44px;
    font-size: 18px;
}

.orange {
    color: #FF5400;
}

.img1-head {
    padding-top: 7px;
    padding-right: 10px;
}

.title {
    padding-top: 15px;
}

.sec2-head {
    margin-top: 20px;
    padding-top: 160px;
    text-align: center;
    padding-bottom: 160px;
    margin-bottom: 20px;
}

.title-sec2-head {
    font-family: Mulish;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.para-sec2-head {
    text-align: center;
    margin-left: 20px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 20px;


}

.others-head {
    display: flex;
    background-color: rgba(255, 255, 255, 0.30);
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;

}

.box-head {
    padding-right: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.all-bttn {
    width: 150px;
    height: 45px;
    border-radius: 0;
    color: rgba(19, 19, 24, 0.50);;
}

.sec2-head {
    background-image: url("sec1/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-position: 55px
}
#orange{
    background-color: var(--primary-color);
    color: #FFF;
}
/* ---------working with sec2----------------------------------------------------------------------- */
.sec2{
    display: grid;
    grid-template-columns: repeat(2,200fr);
    padding-top: 30px;
}
.first-sec2{
    padding-left: 50px;
}
.second-sec2{
    padding-left: 50px;
}
.sec2-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.para1-sec2{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.lis-sec2{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.para2-sec2{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.sec2-bttn{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#sec2-button{
    width: 174px;
    height: 52px;
    background-color: var(--primary-color);
    border-radius: 8%;
}

 /* ---------working with sec3----------------------------------------------------------------------- */
.sec3-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;

    font-weight: 800;
    margin-bottom: 0;

}
.sec3-para{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;

    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.sec3{
    padding-top: 20px;
    padding-bottom: 20px;
}
 /* ---------working with sec4----------------------------------------------------------------------- */
.sec4{
    padding-left: 90px;
}
.sec4-img{
    padding-right: 10px;
    padding-bottom: 10px;
}
#wide1{
    height: 285px;
    width: 284px;
}
.text{
    position: absolute;

}
 /* ---------working with sec5----------------------------------------------------------------------- */
.sec5>h3{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 0;
}
.sec5>p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 500px;
padding-top: 10px;
    margin: 0 auto;
}
.sec5{
    padding-top: 20px;
    padding-bottom: 20px;

}
 /* ---------working with sec6----------------------------------------------------------------------- */
.sec6-and-7{
    padding-top: 60px;
    padding-left: 90px;
    padding-bottom: 30px;
}
 .para-sec6{
    width: 30em;
}
.logos-sec6{
    width: 64px;
height: 64px;

}
.first-s6{
    display: flex;
}
.part{
    align-items: center;
}
.part1,.part2,.part3{
background-color: rgba(251, 181, 99, 0.2);
margin: 30px;
border-radius: 16px;
}
.part3{
    display: grid;
    place-items: left;
    margin-left: 340px;
    margin-right: 380px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: rgba(233, 68, 68, 0.2);
}
.part1,.part2{
    padding: 20px;
}
.part2{
    background-color: rgba(41, 206, 246, 0.2);
}

 /* ---------working with sec8----------------------------------------------------------------------- */
.sec8>h3{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 0;
}
.sec8>p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 500px;
padding-top: 10px;
    margin: 0 auto;
}
.sec8{
    padding-bottom: 30px;
}
/* -------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:600px){

 /* ---------working with sec6----------------------------------------------------------------------- */
 .first-s6{
    display: inline;
}
.part2,.part3{
    margin-left: 0;
}

 /* ---------working with sec4----------------------------------------------------------------------- */
 .sec2{
    display: grid;
    grid-template-columns: repeat(1,200fr);
 }
 .first-sec2{
    padding-bottom: 20px;
 }
  /* ---------working with sec2----------------------------------------------------------------------- */
    .title{
        width: 120px;
        height: 27px;
    }
    .right{
        visibility: hidden;
        background-image: url("sec1/Frame.png");
        background-size: 300px 300px;
    }
    .others-head{
        display: inline;
        background-color: rgba(255, 255, 255, 0.30);
        justify-content: center;
        margin-left: 200px;
        margin-right: 200px;
    }
    .sec2-head {
        padding-left: 0;
        background-size: 600px 800px;
    }
}